/*Tree View Style*/  

.collapse {
        width: 15px;
        background-image: url('../Images/Plus.png');
        background-repeat: no-repeat;
        display: inline-block;
        cursor: pointer;
    }

    .expand {
        width: 15px;
        background-image: url('../Images/Minus.png');
        background-repeat: no-repeat;
        display: inline-block;
        cursor: pointer;
    }

    .treeview ul {
       font-size: 14px;FONT-FAMILY: Arial;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
    }

    .treeview li {
    }

        .treeview li a {
            padding: 0px;
          font-size: 14px;FONT-FAMILY: Arial;
            /* display: inline-block;*/
            text-decoration: none;
            width: 150px;
            text-wrap: avoid;
        }




        /*Tree View Style*/  

        /*
            Fit Text Area inside div


        */
  textarea
{
  /*border:1px solid #999999;*/

 
  /*padding:3px;*/
  max-width:100%;
}

  .clicked {
     font-weight:bold;
}