<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PHICServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50452/PHICService.asmx" binding="basicHttpBinding"
                bindingConfiguration="PHICServiceSoap" contract="PHICService.PHICServiceSoap"
                name="PHICServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>